<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="topbar">
        <div class="title">Master Admin</div>
        </div>
    </div>

    <div class="sidebar">
        <a href="#">Dashboard</a>
        <a href="{{ url_for('view_all_orders')}}">View Orders</a>
        <a href="{{ url_for('admin_products') }}">Manage Products</a>
        <a href="#">Team Management</a>
        <a href="#">Analytics</a>
        <a href="#">Log Out</a>
    </div>

{% if session.get('admin_id') %}
<script>
    if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
        fetch('/adminlogout', { method: 'POST' }).then(() => {
            location.href = "/adminlogin"; 
        });
    }
    window.addEventListener('unload', function () {
        navigator.sendBeacon('/adminlogout');
    });
</script>
{% endif %}


</body>
</html>
