<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {% if not session.get('admin_id') %}
        <script>window.location.href = "{{ url_for('adminlogin') }}";</script>
    {% endif %}

    <div class="topbar">
        <div class="title">Master Admin</div>
    </div>
    
    <div class="sidebar">
        <a href="#">Dashboard</a>
        <a href="{{ url_for('view_all_orders') }}">View Orders</a>
        <a href="{{ url_for('admin_products') }}">Manage Products</a>
        <a href="{{ url_for('add_admin') }}">Team Management</a>
        <a href="#">Analytics</a>
        <a href="{{ url_for('adminlogout') }}">Log Out</a>
    </div>

</body>
</html>
