<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemist Connect Online Store</title>
</head>
<body>
    <header>
        <a href="{{ url_for('homepage' )}}">
        <img src="{{ url_for('static', filename='images/logo_landscape.png')}}" alt="Logo" class="corner-image">
        </a>
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="query" placeholder="Search the catalogue...">
                <button type="submit" class="search-button">🔍</button>
            </form>
        </div>        
        <div class="header-icons">
            <a href="{{ url_for('view_cart')}}"><img src="{{ url_for('static',filename='images/cart.png')}}" alt="Cart" class="icon"></a>
            <a href="{{ url_for('login')}}"><img src="{{ url_for('static',filename='images/profile.png')}}" alt="Profile" class="icon"></a>
        </div>
    </header>

    <nav class="category-nav">
        <a href="#">Incontinence</a>
        <a href="#">Baby Care</a>
        <a href="#">Beauty</a>
        <a href="#">Medicine</a>
        <a href="#">Supplements</a>
        <a href="#">Skincare</a>
        <a href="#">Our services</a>
    </nav>

    <h1>Items In Your Cart:</h1>
    <ul>
        {% for item in cart %}
          <li>
            <img src="{{ url_for('static', filename='images/product_images/' ~ item.image) }}" width="100">
            <strong>{{ item.product }}</strong> - ${{ item.price }} × {{ item.quantity }}
          </li>
        {% endfor %}
      </ul>
      
      <div class="cart-summary">
        <h2>Cart Summary</h2>
        <p>Subtotal: ${{ subtotal }}</p>
        {% if discount > 0 %}
            <p>Discount: -${{ discount }}</p>
        {% endif %}
        <h3>Total: ${{ total }}</h3>
    </div>

    <footer class="site-footer">
        <div class="footer-links">
            <a href="{{ url_for('returns')}}">Return Policies</a>
            <a href="#">About Us</a>
            <a href="#">Store Locations</a>
            <a href="#">Help & Support</a>
            <a href="#">Contact Us</a>
        </div>
        <p class="footer-text">© 2025 Chemist Connect. All rights reserved.</p>
    </footer>
</body>
</html>