<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemist Connect Online Store</title>
</head>
<body>
    <header>
        <a href="{{ url_for('homepage' )}}">
        <img src="{{ url_for('static', filename='images/logo_landscape.png')}}" alt="Logo" class="corner-image">
        </a>
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="query" placeholder="Search the catalogue...">
                <button type="submit" class="search-button">🔍</button>
            </form>
        </div>
        <div class="header-icons">
            <a href="{{ url_for('view_cart')}}"><img src="{{ url_for('static',filename='images/cart.png')}}" alt="Cart" class="icon"></a>
            <a href="{{ url_for('login')}}"><img src="{{ url_for('static',filename='images/profile.png')}}" alt="Profile" class="icon"></a>
        </div>
    </header>

    <nav class="category-nav">
        <a href="#">Incontinence</a>
        <a href="#">Baby Care</a>
        <a href="#">Beauty</a>
        <a href="#">Medicine</a>
        <a href="#">Supplements</a>
        <a href="#">Skincare</a>
        <a href="#">Our services</a>
    </nav>

    <h1>{{ category }}</h1>

    {% if empty %}
        <p>No products found in this category</p>
    {% else %}
        <div class="product-grid">
            {% for product in products %}
            <div class="="product-card>
                <a href="{{ url_for('product_detail', product_id=product['id']) }}">
                <img src="{{ url_for('static',filename='product_images/'~ product['image'])}}" alt="{{ product['product']}}">
                <h3>{{ product['product']}}</h3>
                <p>Price: ${{ product['price'] }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

       <footer class="site-footer">
        <div class="footer-links">
            <a href="{{ url_for('returns')}}">Return Policies</a>
            <a href="#">About Us</a>
            <a href="#">Store Locations</a>
            <a href="#">Help & Support</a>
            <a href="{{ url_for('contactus')}}">Contact Us</a>
            <a href="{{ url_for('adminlogin')}}">Admin Login</a>
        </div>
        <p class="footer-text">© 2025 Chemist Connect. All rights reserved.</p>
    </footer>
</body>
</html>