<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemist Connect Online Store</title>
</head>
<body>
    <header>
        <a href="{{ url_for('homepage' )}}">
        <img src="{{ url_for('static', filename='images/logo_landscape.png')}}" alt="Logo" class="corner-image">
        </a>
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="query" placeholder="Search the catalogue...">
                <button type="submit" class="search-button">🔍</button>
            </form>
        </div>
        <div class="header-icons">
            <a href="{{ url_for('view_cart')}}"><img src="{{ url_for('static',filename='images/cart.png')}}" alt="Cart" class="icon"></a>
            <div class="dropdown">
                <img src="{{ url_for('static', filename='images/profile.png')}}" alt="Profile" class="icon dropdown-toggle" onclick="toggleDropdown()"/>
                <div id="dropdownMenu" class="dropdown-menu">
                    {% if session.get('user_id')%}
                        <a href="{{ url_for('profile')}}">View Profile</a>
                        <a href="{{ url_for('logout')}}">Log out</a>
                    {% else %}
                        <a href="{{ url_for('login')}}">Log in</a>
                        <a href="{{ url_for('signup')}}">Sign up</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </header>

    <nav class="category-nav">
        <a href="#">Incontinence</a>
        <a href="{{ url_for('categorypage', category_name='Baby Products')}}">Baby Care</a>
        <a href="#">Beauty</a>
        <a href="#">Medicine</a>
        <a href="#">Supplements</a>
        <a href="#">Skincare</a>
        <a href="#">Our services</a>
    </nav>

    <script>
    function toggleDropdown() {
  var menu = document.getElementById("dropdownMenu");
  menu.style.display = (menu.style.display === "block") ? "none" : "block";
}

window.onclick = function(event) {
  if (!event.target.matches('.dropdown-toggle')) {
    var dropdowns = document.getElementsByClassName("dropdown-menu");
    for (var i = 0; i < dropdowns.length; i++) {
      dropdowns[i].style.display = "none";
    }
  }
}
</script>

    <h1>Contact us</h1>
    <p>Customer support call: 0234234234 </p>

       <footer class="site-footer">
        <div class="footer-links">
            <a href="{{ url_for('returns')}}">Return Policies</a>
            <a href="#">About Us</a>
            <a href="#">Store Locations</a>
            <a href="#">Help & Support</a>
            <a href="{{ url_for('contactus')}}">Contact Us</a>
            <a href="{{ url_for('adminlogin')}}">Admin Login</a>
        </div>
        <p class="footer-text">© 2025 Chemist Connect. All rights reserved.</p>
    </footer>
</body>
</html>